.judul {
  color: cadetblue;
}
.carousel {
  padding-top: 3rem;
}
.copy {
  background-color: lightslategrey;
}
.me {
  background-color: lightslategrey;
}
#product {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
